In [36]:
import pandas as pd

#### Install openpyxl Library to read the excel file.

In [37]:
# !pip3 install openpyxl

## Data Processing

In [38]:
GE15Y_raw = pd.read_excel('GE15Y.xlsx').drop(index=0) # Read data file

### Check the number of rows and columns in data file

In [39]:
GE15Y_raw.shape # There are 8785 rows and 24 columns

(8785, 24)

### Check Missing values

In [40]:
GE15Y_raw = GE15Y_raw.drop(index=8785)

In [41]:
GE15Y_raw.isna().sum()

Date                         0
Time                         0
Rg                        8784
Ratm                      8784
Rn                         543
T_soilref                 4629
Ta                           0
RH                           0
uref                         0
LAI_total                 8784
LAI_green                 8784
displacement_height       8784
z0_soil                   8784
z0_canopy                 8784
zh                        8784
zref                      8784
Rain                         0
O3_concentration             0
Pesticid_concentration       0
Pest_soil                    0
NH3_concentration            0
GammaLeaf_NH3                0
GammaSoil_NH3                0
R_litter_NH3                 0
dtype: int64

In [42]:
GE15Y = GE15Y_raw.fillna(0)
GE15Y

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_14107/3591906512.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  GE15Y = GE15Y_raw.fillna(0)

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zh,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3
1,2012-01-01 00:00:00,00:00:00,0,0,0.0,0.0,11.9,93,4.9,0,...,0,0,0.0,26.986734,0,0,0,250,3000,0
2,2012-01-01 01:00:00,01:00:00,0,0,0.0,0.0,11.7,95,4.3,0,...,0,0,0.0,21.272562,0,0,0,250,3000,0
3,2012-01-01 02:00:00,02:00:00,0,0,0.0,0.0,11.8,94,3.7,0,...,0,0,0.0,14.972155,0,0,0,250,3000,0
4,2012-01-01 03:00:00,03:00:00,0,0,0.0,0.0,11.7,96,3.5,0,...,0,0,0.0,16.864317,0,0,0,250,3000,0
5,2012-01-01 04:00:00,04:00:00,0,0,0.0,0.0,11.8,95,4.2,0,...,0,0,0.0,24.660090,0,0,0,250,3000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8780,2012-12-31 19:00:00,1900-12-30 19:00:00,0,0,0.0,0.0,9.0,78,6.3,0,...,0,0,0.0,12.860179,0,0,0,250,3000,0
8781,2012-12-31 20:00:00,1900-12-30 20:00:00,0,0,0.0,0.0,8.8,77,6.6,0,...,0,0,0.0,4.949790,0,0,0,250,3000,0
8782,2012-12-31 21:00:00,1900-12-30 21:00:00,0,0,0.0,0.0,8.0,84,6.0,0,...,0,0,0.2,0.000000,0,0,0,250,3000,0
8783,2012-12-31 22:00:00,1900-12-30 22:00:00,0,0,0.0,0.0,7.4,91,5.1,0,...,0,0,0.6,0.258815,0,0,0,250,3000,0
8784,2012-12-31 23:00:00,1900-12-30 23:00:00,0,0,0.0,0.0,7.2,94,5.3,0,...,0,0,1.4,0.000000,0,0,0,250,3000,0

In [43]:
GE15Y.isna().sum()

Date                      0
Time                      0
Rg                        0
Ratm                      0
Rn                        0
T_soilref                 0
Ta                        0
RH                        0
uref                      0
LAI_total                 0
LAI_green                 0
displacement_height       0
z0_soil                   0
z0_canopy                 0
zh                        0
zref                      0
Rain                      0
O3_concentration          0
Pesticid_concentration    0
Pest_soil                 0
NH3_concentration         0
GammaLeaf_NH3             0
GammaSoil_NH3             0
R_litter_NH3              0
dtype: int64

## Read Another CSV File with SWC data

In [44]:
SWC_raw = pd.read_csv('GE15Y_SWC.csv').drop(index=0)
SWC_raw

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3,SWC
1,1/1/2012,0:00:00,NaN,NaN,0,NaN,11.9,93,4.9,NaN,...,NaN,0,26.986734,0,0,0,250,3000,0,0.250624
2,1/1/2012,1:00:00,NaN,NaN,0,NaN,11.7,95,4.3,NaN,...,NaN,0,21.272562,0,0,0,250,3000,0,0.250605
3,1/1/2012,2:00:00,NaN,NaN,0,NaN,11.8,94,3.7,NaN,...,NaN,0,14.972155,0,0,0,250,3000,0,0.250423
4,1/1/2012,3:00:00,NaN,NaN,0,NaN,11.7,96,3.5,NaN,...,NaN,0,16.864317,0,0,0,250,3000,0,0.250380
5,1/1/2012,4:00:00,NaN,NaN,0,NaN,11.8,95,4.2,NaN,...,NaN,0,24.66009,0,0,0,250,3000,0,0.250372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8780,12/31/2012,19:00:00,NaN,NaN,0,NaN,9,78,6.3,NaN,...,NaN,0,12.860179,0,0,0,250,3000,0,0.286565
8781,12/31/2012,20:00:00,NaN,NaN,0,NaN,8.8,77,6.6,NaN,...,NaN,0,4.94979,0,0,0,250,3000,0,0.286274
8782,12/31/2012,21:00:00,NaN,NaN,0,NaN,8,84,6,NaN,...,NaN,0.2,0,0,0,0,250,3000,0,0.286932
8783,12/31/2012,22:00:00,NaN,NaN,0,NaN,7.4,91,5.1,NaN,...,NaN,0.6,0.258815,0,0,0,250,3000,0,0.289902
8784,12/31/2012,23:00:00,NaN,NaN,0,NaN,7.2,94,5.3,NaN,...,NaN,1.4,0,0,0,0,250,3000,0,0.294402

In [45]:
SWC_raw.shape

(8784, 25)

In [46]:
SWC_raw.columns

Index(['Date', 'Time', 'Rg', 'Ratm', 'Rn', 'T_soilref', 'Ta', 'RH', 'uref',
       'LAI_total', 'LAI_green', 'displacement_height', 'z0_soil', 'z0_canopy',
       'zh', 'zref', 'Rain', 'O3_concentration', 'Pesticid_concentration',
       'Pest_soil', 'NH3_concentration', 'GammaLeaf_NH3', 'GammaSoil_NH3',
       'R_litter_NH3', 'SWC'],
      dtype='object')

In [47]:
SWC_raw.isna().sum()

Date                         0
Time                         0
Rg                        8784
Ratm                      8784
Rn                         543
T_soilref                 4629
Ta                           0
RH                           0
uref                         0
LAI_total                 8784
LAI_green                 8784
displacement_height       8784
z0_soil                   8784
z0_canopy                 8784
zh                        8784
zref                      8784
Rain                         0
O3_concentration             0
Pesticid_concentration       0
Pest_soil                    0
NH3_concentration            0
GammaLeaf_NH3                0
GammaSoil_NH3                0
R_litter_NH3                 0
SWC                       1710
dtype: int64

In [48]:
SWC = SWC_raw.fillna(0)
SWC.head()

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_14107/2351469387.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  SWC = SWC_raw.fillna(0)

,Date,Time,Rg,Ratm,Rn,T_soilref,Ta,RH,uref,LAI_total,...,zref,Rain,O3_concentration,Pesticid_concentration,Pest_soil,NH3_concentration,GammaLeaf_NH3,GammaSoil_NH3,R_litter_NH3,SWC
1,1/1/2012,0:00:00,0,0,0,0,11.9,93,4.9,0,...,0,0,26.986734,0,0,0,250,3000,0,0.250624
2,1/1/2012,1:00:00,0,0,0,0,11.7,95,4.3,0,...,0,0,21.272562,0,0,0,250,3000,0,0.250605
3,1/1/2012,2:00:00,0,0,0,0,11.8,94,3.7,0,...,0,0,14.972155,0,0,0,250,3000,0,0.250423
4,1/1/2012,3:00:00,0,0,0,0,11.7,96,3.5,0,...,0,0,16.864317,0,0,0,250,3000,0,0.250380
5,1/1/2012,4:00:00,0,0,0,0,11.8,95,4.2,0,...,0,0,24.66009,0,0,0,250,3000,0,0.250372

In [55]:
GE15Y['Time'] = pd.to_datetime(GE15Y['Time'].astype(str)).dt.time

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_14107/1898071005.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  GE15Y['Time'] = pd.to_datetime(GE15Y['Time'].astype(str)).dt.time

In [58]:
GE15Y['datetime'] = pd.to_datetime(GE15Y['Date'].astype(str) + " " + GE15Y['Time'].astype(str))

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_14107/1710329710.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  GE15Y['datetime'] = pd.to_datetime(GE15Y['Date'].astype(str) + " " + GE15Y['Time'].astype(str))

In [23]:
SWC['datetime'] = pd.to_datetime(SWC['Date'] + " " + SWC['Time'])