Here, I consider both Rain and LE as Cumulative and play the unit 1W/m2= 0.035mm/day for every 15mins of model time step.
So, 1/96 is equal to 15mins in a day.
Check Unit play and Mean two files always.
Results are always different.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

In [2]:
# Load the data'
df = pd.read_excel("SE15Y_resultats.xlsx")
df.head()

,date,Rg,Rn_measured,Rn_calcultated,Rn_used,T_soilref,Ta,RHa,uref,LAI_total,...,FNH3_soil,FNH3_cut,FNH3_stom,FNH3_canopy,FNH3_tot,NH3_canopy,NH3_leaf,NH3_soil,Drain_Runoff,Surface_Runoff
0,2013-01-01 00:00:00,6999,-20.878000,12887.13961,-20.878000,8.736833,7.316000,99.400000,1.786107,2.4,...,0.003395,-0.002124,0.0,-0.002123,0.001271,0.108232,0.063707,2.365732,5.911582,6656
1,2013-01-01 00:15:00,6999,-17.027333,10836.44924,-17.027333,8.724750,7.325333,99.413333,2.058361,2.4,...,0.003468,-0.002032,0.0,-0.002032,0.001437,0.104377,0.060958,2.410845,0.299747,6656
2,2013-01-01 00:30:00,6999,-16.450000,10836.21080,-16.450000,8.712667,7.320667,99.526667,2.142631,2.4,...,0.003479,-0.002001,0.0,-0.002001,0.001478,0.102905,0.060027,2.416238,0.499743,6656
3,2013-01-01 00:45:00,6999,-21.473333,10837.31474,-21.473333,8.712500,7.319333,99.600000,2.195486,2.4,...,0.003411,-0.001970,0.0,-0.001970,0.001441,0.100222,0.059112,2.368507,0.399843,6656
4,2013-01-01 01:00:00,6999,-21.625333,10837.46820,-21.625333,8.712333,7.330000,99.633333,2.108225,2.4,...,0.003405,-0.002001,0.0,-0.002001,0.001404,0.101776,0.060041,2.366414,0.299858,6656

In [3]:
df.isna().sum()

date               0
Rg                 0
Rn_measured        0
Rn_calcultated     0
Rn_used            0
                  ..
NH3_canopy         0
NH3_leaf           0
NH3_soil           0
Drain_Runoff       0
 Surface_Runoff    0
Length: 91, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 91 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           35040 non-null  datetime64[ns]
 1   Rg                             35040 non-null  int64
 2   Rn_measured                    35040 non-null  float64
 3   Rn_calcultated                 35040 non-null  float64
 4   Rn_used                        35040 non-null  float64
 5   T_soilref                      35040 non-null  float64
 6   Ta                             35040 non-null  float64
 7   RHa                            35040 non-null  float64
 8   uref                           35040 non-null  float64
 9   LAI_total                      35040 non-null  float64
 10  LAI_green                      35040 non-null  float64
 11  displacement_height            35040 non-null  float64
 12  z0_soil                        35040 non-null  float64
 13  z0_canopy                      35040 non-null  float64
 14  zh                             35040 non-null  float64
 15  zref                           35040 non-null  int64
 16  Rain                           35040 non-null  float64
 17  concentration_O3               35040 non-null  float64
 18  concentration_Pest             35040 non-null  int64
 19  Pest_soil                      35040 non-null  int64
 20  concentration_NH3              35040 non-null  int64
 21  GammaLeaf_NH3                  35040 non-null  int64
 22  GammaSoil_NH3                  35040 non-null  int64
 23  R_litter_NH3                   35040 non-null  int64
 24  H                              35040 non-null  float64
 25  LE                             35040 non-null  float64
 26  G                              35040 non-null  float64
 27  Hv                             35040 non-null  float64
 28  Hs                             35040 non-null  float64
 29  LEv                            35040 non-null  float64
 30  LEs                            35040 non-null  float64
 31  T_leaf                         35040 non-null  float64
 32  T_canopy                       35040 non-null  float64
 33  T_soil                         35040 non-null  float64
 34  u_star                         35040 non-null  float64
 35  u_star_ground                  35040 non-null  float64
 36  RH_canopy                      35040 non-null  float64
 37  RH_leaf                        35040 non-null  float64
 38  RH_soil                        35040 non-null  float64
 39  Ra                             35040 non-null  float64
 40  Rac                            35040 non-null  float64
 41  Rb_leaf                        35040 non-null  float64
 42  Rb_soil                        35040 non-null  float64
 43  r_soil_surface_H2O             35040 non-null  float64
 44  r_thermal_drylayer             35040 non-null  float64
 45  depth_drysoil                  35040 non-null  float64
 46  WetLayer_Depth                 35040 non-null  float64
 47  teta_WetLayer                  35040 non-null  float64
 48  teta_minthreshold              35040 non-null  float64
 49  teta_tot                       35040 non-null  float64
 50  Qmulch                         35040 non-null  float64
 51  SWC_WetLayer                   35040 non-null  float64
 52  SWC_SoilTotal                  35040 non-null  float64
 53  SWP                            35040 non-null  float64
 54  Cumul_Rain_t3                  35040 non-null  float64
 55  Cumul_evap_t3                  35040 non-null  float64
 56  gstom_tot_H2O                  35040 non-null  float64
 57  glight                         35040 non-null  float64
 58  gtemp                          35040 non-null  float64
 59  gVPD                           35040 non-null  float64
 60  gSWP                           35040 non-null  int64
 61  gSWC                           35040 non-null  float64
 62  FO3_soil                       35040 non-null  float64
 63  FO3_cut                        35040 non-null  float64
 64  FO3_stom                       35040 non-null  float64
 65  FO3_stom_inactive              35040 non-null  float64
 66  FO3_canopy                     35040 non-null  float64
 67  FO3_tot                        35040 non-null  float64
 68  O3_canopy                      35040 non-null  float64
 69  O3_leaf                        35040 non-null  float64
 70  FPest_soil                     35040 non-null  int64
 71  FPest_leaf_penetration_adsorb  35040 non-null  int64
 72  FPest_canopy                   35040 non-null  int64
 73  FPest_leaf_dissip              35040 non-null  int64
 74  FPest_washoff                  35040 non-null  int64
 75  FPest_tot                      35040 non-null  int64
 76  Pest_canopy                    35040 non-null  int64
 77  Pest_quantity_leaf             35040 non-null  int64
 78  Pest_quantity_leaf_Tissue      35040 non-null  int64
 79  Pest_quantity_leaf_adsorb      35040 non-null  int64
 80  Pest_quantity_leaf_non_adsorb  35040 non-null  int64
 81  FNH3_soil                      35040 non-null  float64
 82  FNH3_cut                       35040 non-null  float64
 83  FNH3_stom                      35040 non-null  float64
 84  FNH3_canopy                    35040 non-null  float64
 85  FNH3_tot                       35040 non-null  float64
 86  NH3_canopy                     35040 non-null  float64
 87  NH3_leaf                       35040 non-null  float64
 88  NH3_soil                       35040 non-null  float64
 89  Drain_Runoff                   35040 non-null  float64
 90   Surface_Runoff                35040 non-null  int64
dtypes: datetime64[ns](1), float64(69), int64(21)
memory usage: 24.3 MB

In [5]:
df = df.drop(index=0).reset_index().drop(columns="index")

In [6]:

df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y %H:%M:%S')
df.head()

,date,Rg,Rn_measured,Rn_calcultated,Rn_used,T_soilref,Ta,RHa,uref,LAI_total,...,FNH3_soil,FNH3_cut,FNH3_stom,FNH3_canopy,FNH3_tot,NH3_canopy,NH3_leaf,NH3_soil,Drain_Runoff,Surface_Runoff
0,2013-01-01 00:15:00,6999,-17.027333,10836.44924,-17.027333,8.724750,7.325333,99.413333,2.058361,2.4,...,0.003468,-0.002032,0.0,-0.002032,0.001437,0.104377,0.060958,2.410845,0.299747,6656
1,2013-01-01 00:30:00,6999,-16.450000,10836.21080,-16.450000,8.712667,7.320667,99.526667,2.142631,2.4,...,0.003479,-0.002001,0.0,-0.002001,0.001478,0.102905,0.060027,2.416238,0.499743,6656
2,2013-01-01 00:45:00,6999,-21.473333,10837.31474,-21.473333,8.712500,7.319333,99.600000,2.195486,2.4,...,0.003411,-0.001970,0.0,-0.001970,0.001441,0.100222,0.059112,2.368507,0.399843,6656
3,2013-01-01 01:00:00,6999,-21.625333,10837.46820,-21.625333,8.712333,7.330000,99.633333,2.108225,2.4,...,0.003405,-0.002001,0.0,-0.002001,0.001404,0.101776,0.060041,2.366414,0.299858,6656
4,2013-01-01 01:15:00,6999,-16.442000,10836.37128,-16.442000,8.711417,7.344000,99.653333,1.964618,2.4,...,0.003474,-0.002071,0.0,-0.002071,0.001403,0.106516,0.062121,2.416621,0.299770,6656

In [7]:
# Filter out negative values
filtered_df = df[(df['LE'] >= 0)]

In [8]:
filtered_df

,date,Rg,Rn_measured,Rn_calcultated,Rn_used,T_soilref,Ta,RHa,uref,LAI_total,...,FNH3_soil,FNH3_cut,FNH3_stom,FNH3_canopy,FNH3_tot,NH3_canopy,NH3_leaf,NH3_soil,Drain_Runoff,Surface_Runoff
0,2013-01-01 00:15:00,6999,-17.027333,10836.44924,-17.027333,8.724750,7.325333,99.413333,2.058361,2.40,...,0.003468,-0.002032,0.0,-0.002032,0.001437,0.104377,0.060958,2.410845,0.299747,6656
1,2013-01-01 00:30:00,6999,-16.450000,10836.21080,-16.450000,8.712667,7.320667,99.526667,2.142631,2.40,...,0.003479,-0.002001,0.0,-0.002001,0.001478,0.102905,0.060027,2.416238,0.499743,6656
2,2013-01-01 00:45:00,6999,-21.473333,10837.31474,-21.473333,8.712500,7.319333,99.600000,2.195486,2.40,...,0.003411,-0.001970,0.0,-0.001970,0.001441,0.100222,0.059112,2.368507,0.399843,6656
3,2013-01-01 01:00:00,6999,-21.625333,10837.46820,-21.625333,8.712333,7.330000,99.633333,2.108225,2.40,...,0.003405,-0.002001,0.0,-0.002001,0.001404,0.101776,0.060041,2.366414,0.299858,6656
4,2013-01-01 01:15:00,6999,-16.442000,10836.37128,-16.442000,8.711417,7.344000,99.653333,1.964618,2.40,...,0.003474,-0.002071,0.0,-0.002071,0.001403,0.106516,0.062121,2.416621,0.299770,6656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35034,2013-12-31 22:45:00,6999,-21.614000,10863.96261,-21.614000,10.708931,6.665400,97.093333,1.031574,2.64,...,0.003657,-0.002731,0.0,-0.002731,0.000926,0.134749,0.081918,2.661919,0.000000,6656
35035,2013-12-31 23:00:00,6999,-25.464667,10863.23248,-25.464667,10.756173,6.721400,97.020000,1.447136,2.64,...,0.003657,-0.002502,0.0,-0.002502,0.001155,0.122321,0.075057,2.655175,0.000000,6656
35036,2013-12-31 23:15:00,6999,-37.306000,10868.30803,-37.306000,10.794697,6.767067,96.806667,1.318488,2.64,...,0.003458,-0.002486,0.0,-0.002486,0.000972,0.119023,0.074570,2.519764,0.000000,6656
35037,2013-12-31 23:30:00,6999,-50.330000,10875.67935,-50.330000,10.691891,6.645200,97.293333,1.207492,2.64,...,0.003173,-0.002380,0.0,-0.002380,0.000793,0.111793,0.071399,2.318616,0.000000,6656
35038,2013-12-31 23:45:00,6999,-54.178000,10876.31740,-54.178000,10.628733,6.570333,97.373333,1.325918,2.64,...,0.003110,-0.002292,0.0,-0.002292,0.000818,0.107009,0.068766,2.272838,0.000000,6656

In [16]:
Cumu_LE_mm = (filtered_df.groupby(filtered_df['date'].dt.date)['LE'].sum()*0.035/24/4).reset_index()
Cumu_LE_mm

           date        LE
0    2013-01-01  0.079433
1    2013-01-02  0.109530
2    2013-01-03  0.007812
3    2013-01-04  0.038202
4    2013-01-05  0.079954
..          ...       ...
360  2013-12-27  0.134969
361  2013-12-28  0.123871
362  2013-12-29  0.183644
363  2013-12-30  0.125377
364  2013-12-31  0.165542

[365 rows x 2 columns]

In [10]:
# Continue Printing the result with their dates as excel file.
Cumu_LE_mm.to_excel('Cumu_LE_mm_all_dates.xlsx')

In [11]:
# Choose specify dates to print
# List of dates
dates = [
    '1/25/2013', '3/4/2013', '3/5/2013', '3/22/2013', '3/25/2013', '3/26/2013', '3/27/2013', '3/28/2013', 
    '3/29/2013', '3/30/2013', '3/31/2013', '4/1/2013', '4/2/2013', '4/3/2013', '4/6/2013', '4/7/2013', 
    '4/14/2013', '4/17/2013', '4/18/2013', '4/20/2013', '4/21/2013', '4/22/2013', '4/23/2013', '4/24/2013', 
    '4/27/2013', '5/4/2013', '5/5/2013', '5/6/2013', '5/7/2013', '5/9/2013', '5/10/2013', '5/13/2013', 
    '5/22/2013', '5/26/2013', '5/27/2013', '5/31/2013', '6/1/2013', '6/2/2013', '6/3/2013', '6/4/2013', 
    '6/5/2013', '6/15/2013', '6/16/2013', '6/25/2013', '6/26/2013', '6/27/2013', '6/30/2013', '7/5/2013', 
    '7/7/2013', '7/8/2013', '7/9/2013', '7/10/2013', '7/11/2013', '7/12/2013', '7/15/2013', '7/16/2013', 
    '7/17/2013', '7/18/2013', '7/19/2013', '7/20/2013', '7/21/2013', '7/22/2013', '7/25/2013', '7/30/2013', 
    '7/31/2013', '8/1/2013', '8/2/2013', '8/3/2013', '8/4/2013', '8/5/2013', '8/6/2013', '8/8/2013', 
    '8/9/2013', '8/10/2013', '8/11/2013', '8/12/2013', '8/13/2013', '8/14/2013', '8/15/2013', '8/16/2013', 
    '8/17/2013', '8/20/2013', '8/21/2013', '8/22/2013', '8/23/2013', '8/28/2013', '8/29/2013', '8/30/2013', 
    '8/31/2013', '9/1/2013', '11/17/2013', '11/22/2013', '11/23/2013', '11/25/2013', '11/26/2013', '11/27/2013', 
    '12/2/2013', '12/8/2013', '12/15/2013', '12/16/2013', '12/17/2013', '12/23/2013'
]

# Convert list of dates to a pandas datetime object
specific_dates = pd.to_datetime(dates)
specific_dates

DatetimeIndex(['2013-01-25', '2013-03-04', '2013-03-05', '2013-03-22',
               '2013-03-25', '2013-03-26', '2013-03-27', '2013-03-28',
               '2013-03-29', '2013-03-30',
               ...
               '2013-11-23', '2013-11-25', '2013-11-26', '2013-11-27',
               '2013-12-02', '2013-12-08', '2013-12-15', '2013-12-16',
               '2013-12-17', '2013-12-23'],
              dtype='datetime64[ns]', length=102, freq=None)

In [12]:
Cumu_LE_mm['date'] = pd.to_datetime(Cumu_LE_mm['date'])
Cumu_LE_mm.tail()

          date        LE
360 2013-12-27  0.134969
361 2013-12-28  0.123871
362 2013-12-29  0.183644
363 2013-12-30  0.125377
364 2013-12-31  0.165542

In [13]:
Cumu_LE_mm['date'].isin(specific_dates)

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: date, Length: 365, dtype: bool

In [14]:
Cumu_LE_mm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    365 non-null    datetime64[ns]
 1   LE      365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [15]:
# Filter DataFrame based on the list of dates
specific_date_Cumu_LE_mm = Cumu_LE_mm[Cumu_LE_mm['date'].isin(specific_dates)]
specific_date_Cumu_LE_mm.head()

         date        LE
24 2013-01-25  0.140751
62 2013-03-04  0.273470
63 2013-03-05  0.305072
80 2013-03-22  0.485035
83 2013-03-25  0.417703