In [1]:
import pandas as pd

In [3]:
df_raw = pd.read_excel("2013_MeteoFrance_Data.xlsx")
df_raw.head()

,DATE,Rain_MF,Temp_MF,Wind_MF,HR_MF,GLO,PSTAT,G_MF,Rnet_MF
0,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
1,2013-01-01 01:00:00,1.4,7.2,5.3,95,0,984.4,0.0,0.0
2,2013-01-01 02:00:00,1.1,7.2,4.9,95,0,984.4,0.0,0.0
3,2013-01-01 03:00:00,1.6,7.4,4.6,96,0,984.3,0.0,0.0
4,2013-01-01 04:00:00,1.0,7.7,3.5,96,0,984.1,0.0,0.0

In [5]:
df_expanded = df_raw.loc[df_raw.index.repeat(4)].reset_index(drop=True)
df_expanded

,DATE,Rain_MF,Temp_MF,Wind_MF,HR_MF,GLO,PSTAT,G_MF,Rnet_MF
0,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
1,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
2,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
3,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
4,2013-01-01 01:00:00,1.4,7.2,5.3,95,0,984.4,0.0,0.0
...,...,...,...,...,...,...,...,...,...
35035,2013-12-31 22:00:00,0.0,6.4,3.5,95,0,989.8,0.0,0.0
35036,2013-12-31 23:00:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35037,2013-12-31 23:00:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35038,2013-12-31 23:00:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35039,2013-12-31 23:00:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0

In [11]:
# Add 0, 15, 30, and 45 minutes to each timestamp
df_expanded['DATE'] = df_expanded.groupby(df_expanded.index // 4).cumcount() * 15 * pd.Timedelta(minutes=1) + df_expanded['DATE']
df_expanded

,DATE,Rain_MF,Temp_MF,Wind_MF,HR_MF,GLO,PSTAT,G_MF,Rnet_MF
0,2013-01-01 00:00:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
1,2013-01-01 00:15:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
2,2013-01-01 00:30:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
3,2013-01-01 00:45:00,1.6,7.2,5.3,95,0,985.3,0.0,0.0
4,2013-01-01 01:00:00,1.4,7.2,5.3,95,0,984.4,0.0,0.0
...,...,...,...,...,...,...,...,...,...
35035,2013-12-31 22:45:00,0.0,6.4,3.5,95,0,989.8,0.0,0.0
35036,2013-12-31 23:00:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35037,2013-12-31 23:15:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35038,2013-12-31 23:30:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0
35039,2013-12-31 23:45:00,0.0,6.6,4.2,94,0,989.8,0.0,0.0

In [12]:
df_expanded.to_excel('2013_MeteoFrance_Data_15Min_Data.xlsx')