In [1]:
import pandas as pd

In [16]:
df_raw = pd.read_excel('Classeur1.xlsx')
columns_to_remove = ['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22']
df_raw = df_raw.drop(columns=columns_to_remove)
df_raw.columns = df_raw.iloc[0]
df_raw.head()

,TIMESTAMP,RECORD,BattV_Min,Temp_int_Avg,SlrW_Avg,SlrW_Std,AirTC_Avg,AirTC_Std,RH_Avg,RH_Std,Flag,UVA_Avg,UVA_Std,PAR_Avg,PAR_Std,Ux_Avg,Uy_Avg,CO2_Avg,H2O_Avg
0,TIMESTAMP,RECORD,BattV_Min,Temp_int_Avg,SlrW_Avg,SlrW_Std,AirTC_Avg,AirTC_Std,RH_Avg,RH_Std,Flag,UVA_Avg,UVA_Std,PAR_Avg,PAR_Std,Ux_Avg,Uy_Avg,CO2_Avg,H2O_Avg
1,TS,RN,Volts,Deg C,W/m^2,W/m^2,Deg C,Deg C,%,%,NaN,NaN,NaN,NaN,NaN,m/s,m/s,mg/m^3,g/m^3
2,NaN,NaN,Min,Avg,Avg,Std,Avg,Std,Avg,Std,Smp,Avg,Std,Avg,Std,Avg,Avg,Avg,Avg
3,2023-01-06 11:00:00,0,12.51,10.88,57.36,6.403,10.19,0.043,96.5,0.136,0,104.7,14.32,125.7,14.44,NAN,NAN,NAN,NAN
4,2023-01-06 11:15:00,1,12.53,10.97,84.6,16.83,10.3,0.084,96,0.15,0,143.5,10.55,185.8,32.76,0.2968159,0.0468887,751.5836,9.948877

In [17]:
df = df_raw.iloc[3:].reset_index(drop=True)
df.head()

,TIMESTAMP,RECORD,BattV_Min,Temp_int_Avg,SlrW_Avg,SlrW_Std,AirTC_Avg,AirTC_Std,RH_Avg,RH_Std,Flag,UVA_Avg,UVA_Std,PAR_Avg,PAR_Std,Ux_Avg,Uy_Avg,CO2_Avg,H2O_Avg
0,2023-01-06 11:00:00,0,12.51,10.88,57.36,6.403,10.19,0.043,96.5,0.136,0,104.7,14.32,125.7,14.44,NAN,NAN,NAN,NAN
1,2023-01-06 11:15:00,1,12.53,10.97,84.6,16.83,10.3,0.084,96,0.15,0,143.5,10.55,185.8,32.76,0.2968159,0.0468887,751.5836,9.948877
2,2023-01-06 11:30:00,2,12.57,11.01,70.11,13.05,10.46,0.029,95.5,0.221,0,127.2,15.12,156.2,26.95,0.5354351,-0.4944533,751.4793,9.937292
3,2023-01-06 11:45:00,3,12.6,11.06,98.9,16.88,10.6,0.072,94.8,0.203,0,164.4,28.7,217.3,38.3,0.07107288,-0.259642,751.3226,9.93812
4,2023-01-06 12:00:00,4,12.84,11.15,105.3,13.57,10.77,0.056,94.2,0.141,0,218.3,5.193,245,24.54,0.3630339,-0.04714996,751.8547,9.993045

In [18]:
# Convert the timestamp column to datetime type
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])

In [19]:
df.head()

,TIMESTAMP,RECORD,BattV_Min,Temp_int_Avg,SlrW_Avg,SlrW_Std,AirTC_Avg,AirTC_Std,RH_Avg,RH_Std,Flag,UVA_Avg,UVA_Std,PAR_Avg,PAR_Std,Ux_Avg,Uy_Avg,CO2_Avg,H2O_Avg
0,2023-01-06 11:00:00,0,12.51,10.88,57.36,6.403,10.19,0.043,96.5,0.136,0,104.7,14.32,125.7,14.44,NAN,NAN,NAN,NAN
1,2023-01-06 11:15:00,1,12.53,10.97,84.6,16.83,10.3,0.084,96,0.15,0,143.5,10.55,185.8,32.76,0.2968159,0.0468887,751.5836,9.948877
2,2023-01-06 11:30:00,2,12.57,11.01,70.11,13.05,10.46,0.029,95.5,0.221,0,127.2,15.12,156.2,26.95,0.5354351,-0.4944533,751.4793,9.937292
3,2023-01-06 11:45:00,3,12.6,11.06,98.9,16.88,10.6,0.072,94.8,0.203,0,164.4,28.7,217.3,38.3,0.07107288,-0.259642,751.3226,9.93812
4,2023-01-06 12:00:00,4,12.84,11.15,105.3,13.57,10.77,0.056,94.2,0.141,0,218.3,5.193,245,24.54,0.3630339,-0.04714996,751.8547,9.993045

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36008 entries, 0 to 36007
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TIMESTAMP     36008 non-null  datetime64[ns]
 1   RECORD        36008 non-null  object
 2   BattV_Min     36008 non-null  object
 3   Temp_int_Avg  36008 non-null  object
 4   SlrW_Avg      36008 non-null  object
 5   SlrW_Std      36008 non-null  object
 6   AirTC_Avg     36008 non-null  object
 7   AirTC_Std     36008 non-null  object
 8   RH_Avg        36008 non-null  object
 9   RH_Std        36008 non-null  object
 10  Flag          36008 non-null  object
 11  UVA_Avg       36008 non-null  object
 12  UVA_Std       36008 non-null  object
 13  PAR_Avg       36008 non-null  object
 14  PAR_Std       36008 non-null  object
 15  Ux_Avg        36008 non-null  object
 16  Uy_Avg        36008 non-null  object
 17  CO2_Avg       36008 non-null  object
 18  H2O_Avg       36008 non-null  object
dtypes: datetime64[ns](1), object(18)
memory usage: 5.2+ MB

In [21]:
def round_up_30min(dt):
    if dt.minute == 0 or dt.minute == 30:
        return dt
    elif dt.minute < 30:
        return dt.replace(minute=30, second=0, microsecond=0)
    else:
        return dt.replace(minute=0, second=0, microsecond=0) + pd.Timedelta(hours=1)

In [22]:
# Apply the function to the TIMESTAMP column
df['TIMESTAMP'] = df['TIMESTAMP'].apply(round_up_30min)
df.head()

,TIMESTAMP,RECORD,BattV_Min,Temp_int_Avg,SlrW_Avg,SlrW_Std,AirTC_Avg,AirTC_Std,RH_Avg,RH_Std,Flag,UVA_Avg,UVA_Std,PAR_Avg,PAR_Std,Ux_Avg,Uy_Avg,CO2_Avg,H2O_Avg
0,2023-01-06 11:00:00,0,12.51,10.88,57.36,6.403,10.19,0.043,96.5,0.136,0,104.7,14.32,125.7,14.44,NAN,NAN,NAN,NAN
1,2023-01-06 11:30:00,1,12.53,10.97,84.6,16.83,10.3,0.084,96,0.15,0,143.5,10.55,185.8,32.76,0.2968159,0.0468887,751.5836,9.948877
2,2023-01-06 11:30:00,2,12.57,11.01,70.11,13.05,10.46,0.029,95.5,0.221,0,127.2,15.12,156.2,26.95,0.5354351,-0.4944533,751.4793,9.937292
3,2023-01-06 12:00:00,3,12.6,11.06,98.9,16.88,10.6,0.072,94.8,0.203,0,164.4,28.7,217.3,38.3,0.07107288,-0.259642,751.3226,9.93812
4,2023-01-06 12:00:00,4,12.84,11.15,105.3,13.57,10.77,0.056,94.2,0.141,0,218.3,5.193,245,24.54,0.3630339,-0.04714996,751.8547,9.993045

In [23]:
# Group by the new timestamps and compute the average for other columns
df_30min = df.groupby('TIMESTAMP').mean().reset_index()
df_30min.head()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df_30min.to_excel("Classeur1_output.xlsx")